
/* Universal */

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(226, 226, 226)
}
/* Header Styles */

.header {
    text-align: center;
    color: white;
    background-color: darkblue;
    background-image: 
        linear-gradient(
            to right,
            lightblue,
            darkblue 90%
        );
    margin-bottom: 1rem;
    padding: 1rem;
}

.flex-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


/* Search Section Styles */

.search-container {
    padding: 0 1rem;
}

.search-container h2 {
    margin: 0;
}

#city-input {
    padding: 6px 0;
    margin: 6px 0;
}


.btn-container {
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#search-btn {
     background-color: rgb(32, 162, 213);
}

.past-btn {
    background-color: gray;
    margin-bottom: 3px;
}

#search-btn,
.past-btn {
    color: white;
    border: none;
}

#city-input,
button {
    width: 19rem;
    border-radius: 3px;
}

button {
    display: block;
    padding: 4px 0;
}

button:hover {
    opacity: 0.85;
}

/* Weather Section Styles */

.weather-container {
    width: 100%;
}

.current-weather {
    border: 1px solid black;
    margin-right: 50px;
    padding-left: 5px;
}

h2 {
    margin-top: 2px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

.card {
    background-color: rgb(105, 105, 105);
    padding: 1px 0 10px 2px;
    margin: 2px 10px 0 0;
    color: white;
    width: 20%;
}

.hide {
    display: none;
} 

img {
   size: 50%;
}

